
/* font family  */

nav,
p,
button {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "EB Garamond", serif;
}
/* primary color */
.primary-color {
  color: #b68c5a;
}

.text-color {
  color: #707070;
}

/* banner section */

.banner-section{
    height: 550px;
    width: 100%;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover; 

}
/* legal-practice */

/* .legal-practice img{
    margin: 0 auto;
} */

.card-background-shadow {
  background: linear-gradient(180deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
  border: 1px solid #e7e7e7;
}

@media screen and (min-width: 576px) {
    .banner-section{
        height: 100%;
        width: 100%;
    }
}
